<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/noticias">noticias</a></li>
        <li><a href="/contacto">contacto</a></li>
        <li><a href="/galeria">galeria</a></li>
      </ul>
    </nav>
    <{{{body}}}>
  </body>
</html>
